.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    padding: 10px 20px;
}
.featuredImg {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.featuredItem {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 12rem;
    flex: 1
}
.featuredTitles {
    position: absolute;
    bottom: 20px;
    left: 20px;
}