.header {
    /* background-color: #7C6A46; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),
            rgba(124, 106, 70, 0)), url("https://images.unsplash.com/photo-1508333409359-027beab53750?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");

    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: #507D76;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerSearch {
    /* height: 30px; */
    background-color: white;
    border: 3px solid #507D76;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -28px;
    width: 95%;
    right: 10px;
    left: 10px;
    /* margin-right: 100px; */
    /* max-width: 1024px; */
    
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 50px;
    z-index: 2;
}

/* room options */
.options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #507D76;
    color: #507D76;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}


@media (max-width: 768px) {
    .headerSearch {
        bottom: -150px;
        position: absolute;
        margin-top: 500px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .date {
        margin: 25px 40px 0 0;
    }

    .options {
        margin: 85px 20px 0 0;
    }

}