.navbar {
    height: 50px;
    /* background-color: #4C4DDC; */
    background-color: #507D76;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    color: inherit;
    text-decoration: none;
}
.logo {
    font-weight:600;
    font-size: 1.2rem;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #507D76;
    border: 1px solid #507D76
}
.navButton:hover{
    color: white;
    background-color: #507D76;
    border: 1px solid white;
}